#questions {
    padding: 20px;
    margin: 20px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.answerButtons{
    width: 100%;
    height: 100px;
}
.content {
    width: 85%;
}

#showPicture {
    height: 200px;
    align-content: center;
}